---
icpc_timezone: 'America/New_York'

git_user_home: 'https://github.com/icpc-environment/fuzzy-octo-dangerzone.git'
git_admin_home: 'https://github.com/icpc-environment/tripping-computing-machine.git'

icpcadmin_pass: icpcadmin

# urls we are configured to send autologin credentials to
# TODO: allow https as well :/
squid_autologin_urls: []
  # - ^http://ser2019.cloudcontest.org/login

# this is the wireguard server's wireguard interface ip address
# i.e. the address we can use when we want to talk to the vpn server
contestmanager_ip: fd00:a0a8:34d:2a00::1

# This is the config server used by the icpc_setup script. It contains sites, teams, and printer configurations.
# See the readme for more information on what files this server needs to return
config_url: http://configs.cloudcontest.org

# could be contestmanager.icpcnet.internal and run over the wireguard vpn
# not sure which is likely to be more reliable...
ansible_pull_host: icpc.cloudcontest.org
ansible_pull_port: 443
ansible_pull_path: ~/ansible

# The host details for the wireguard registration script. It connects over ssh to
# this and expects the output of that ssh session to be a wireguard config file.
# This is then loaded and wireguard started so the client connects to the VPN.
wireguard_host: icpc.cloudcontest.org
wireguard_client_user: wg_client
wireguard_port: 443

# Generate this using `wg genkey`, it is the server's wireguard private key
wg_vpn_server_private_key: wEN5iYXA8M4JD3HIa17mhtDID3+/HQbLFGVN9USC9XE=
# This is the external hostname that your management server resolves to
wg_vpn_server_external_hostname: icpc.cloudcontest.org
# This needs to match the externally visible ip address of your management server
wg_vpn_server_external_ip: 0.1.2.3
# the port wireguard will use (maybe change to 443 to help bypass firewalls)
wg_vpn_server_wg_port: 51820
wg_vpn_server_subnet: fd00:a0a8:34d:2a00::/64


# Maybe more accurately named "ssh tunnel host"
jumpbox_host: icpc.cloudcontest.org

languages:
  - c
  - cpp
  - java
  - kotlin
  - python3
  # - clojure
  # - c-sharp
  # - dart
  # - d
  # - elixir
  # - erlang
  # - fortran
  # - f-sharp
  # - gnu_ada
  # - go
  # - groovy
  # - haskell
  # - js
  # - lua
  # - nim
  # - obj-c
  # - ocaml
  # - pascal
  # - prolog
  # - python2
  # - ruby
  # - rust
  # - r
  # - scala

devtools:
  - intellij-idea
  - intellij-clion
  - intellij-pycharm
  - eclipse
  - geany
  #- netbeans # netbeans isn't a thing anymore since 22.04
  - codeblocks
  # - monodevelop

# Firefox policies. Documented here:
# https://github.com/mozilla/policy-templates/blob/master/README.md
firefox_policies:
  # Set (and lock) the homepage to the given url
  Homepage:
    URL: "http://contest"
    Locked: true
    StartPage: homepage-locked
  # Add some bookmark entries (and always show the bookmarks toolbar)
  DisplayBookmarksToolbar: always
  Bookmarks:
    - Title: Contest Site
      URL: "http://contest"
      Placement: "toolbar"
    - Title: Documentation
      URL: "http://localhost/"
      Placement: "toolbar"

firefox_default_policies:
  # Disable internet checking (it'll fail when the proxy is on so we want to avoid the notification banner)
  CaptivePortal: false
  # Prevent updating (shouldn't happen on linux, but we want to avoid it anyway)
  DisableAppUpdate: true
  # Prevent first run page/post update pages from showing up
  OverrideFirstRunPage: ""
  OverridePostUpdatePage: ""
  # What it says on the tin. This is to prevent a banner on first start about what it's sharing
  DisableTelemetry: true
  # Disable DNS over HTTPS (this might get around filters/things)
  DNSOverHTTPS:
    Enabled: false
  # Install the squid CA so it can mitm things/properly filter the network
  Certificates: {
    ImportEnterpriseRoots: true,
    Install: ["/etc/squid/squidCA.crt"]
  }

  # Disable a bunch of random features we don't need
  DisablePocket: true
  DisableFirefoxStudies: true
  DisableFirefoxAccounts: true
  DisableFeedbackCommands: true
  NewTabPage: false
  NoDefaultBookmarks: true

  # Disable a bunch of messages
  UserMessaging:
    WhatsNew: false
    ExtensionRecommendations: false
    FeatureRecommendations: false
    UrlbarInterventions: false
    SkipOnboard: true
    MoreFromMozilla: false
    Locked: true

# A list of sites to configure in the nginx proxy. Only these will pass through, all others will fail
reverseproxy_sites:
  contest:
    backend_host: "1.2.3.4"
    scheme: 'http'
    port: "12345" # strings not ints
    paths:
      - {path: "/"}
  #kattis.com:
  #  paths:
  #    - {path: "/"}
