---
icpc_timezone: 'America/New_York'

git_user_home: 'https://github.com/icpc-environment/fuzzy-octo-dangerzone.git'
git_admin_home: 'https://github.com/icpc-environment/tripping-computing-machine.git'

icpcadmin_pass: icpcadmin


allowed_domains:
  # - seusa.vanb.org
  - seusa21-d1.kattis.com
  - seusa21-d2.kattis.com

  # sigh...kattis has a bunch of external dependencies
  - cdnjs.cloudflare.com
  - cdn.jsdelivr.net
  - ajax.googleapis.com
  - fonts.gstatic.com
  - licensebuttons.net

  # - docs.cloudcontest.org

allowed_urls: []
  # Maybe host language docs here instead? Makes for less on the image itself

# urls we are configured to send autologin credentials to
# TODO: allow https as well :/
squid_autologin_urls: []
  # - ^http://ser2019.cloudcontest.org/login

# After this date the restrictions for allowed_domains will not apply
# Must be period separated in the format "YYYY.MM.DD"
squid_unblock_date: 2022.03.06

# this is the wireguard server's wireguard interface ip address
# i.e. the address we can use when we want to talk to the vpn server
contestmanager_ip: fd00:a0a8:34d:2a00::1

# This is the config server used by the icpc_setup script. It contains sites, teams, and printer configurations.
# See the readme for more information on what files this server needs to return
config_url: http://configs.cloudcontest.org

# could be contestmanager.icpcnet.internal and run over the wireguard vpn
# not sure which is likely to be more reliable...
ansible_pull_host: icpc.cloudcontest.org
ansible_pull_port: 443
ansible_pull_path: ~/ansible

# The host details for the wireguard registration script. It connects over ssh to
# this and expects the output of that ssh session to be a wireguard config file.
# This is then loaded and wireguard started so the client connects to the VPN.
wireguard_host: icpc.cloudcontest.org
wireguard_client_user: wg_client
wireguard_port: 443

# Generate this using `wg genkey`, it is the server's wireguard private key
wg_vpn_server_private_key: wEN5iYXA8M4JD3HIa17mhtDID3+/HQbLFGVN9USC9XE=
# This is the external hostname that your management server resolves to
wg_vpn_server_external_hostname: icpc.cloudcontest.org
# This needs to match the externally visible ip address of your management server
wg_vpn_server_external_ip: 0.1.2.3
# the port wireguard will use (maybe change to 443 to help bypass firewalls)
wg_vpn_server_wg_port: 51820
wg_vpn_server_subnet: fd00:a0a8:34d:2a00::/64


# Maybe more accurately named "ssh tunnel host"
jumpbox_host: icpc.cloudcontest.org

languages:
  - c
  - cpp
  - java
  - kotlin
  - python3
  # - clojure
  # - c-sharp
  # - dart
  # - d
  # - elixir
  # - erlang
  # - fortran
  # - f-sharp
  # - gnu_ada
  # - go
  # - groovy
  # - haskell
  # - js
  # - lua
  # - nim
  # - obj-c
  # - ocaml
  # - pascal
  # - prolog
  # - python2
  # - ruby
  # - rust
  # - r
  # - scala

devtools:
  - intellij-idea
  - intellij-clion
  - intellij-pycharm
  - eclipse
  - geany
  - netbeans
  - codeblocks
  # - monodevelop
