---
- name: Pascal
  apt:
    state: present
    pkg:
      - fpc

- name: pascal docs
  when: not devdocs
  block:
    - name: Pascal docs
      apt:
        state: present
        pkg:
          - fp-docs         # 32mb
    - ansible.utils.update_fact:
        updates:
          - path: "lang_docs['Pascal']"
            value:
              name: FPC Documentation
              id: pascal
              path: /usr/share/doc/fp-docs/3.0.4
              index: fpctoc.html
      register: updated
    - set_fact:
        lang_docs: "{{ updated.lang_docs }}"
