[Desktop Entry]
Version=1.0
Type=Application
Name=Reset Team Account
Comment=
Exec=gksudo /icpc/scripts/clearUser.sh
Icon=edit-clear
Path=
Terminal=true
StartupNotify=false
GenericName=
