[Desktop Entry]
Version=1.0
Type=Application
Name=Reset Team Account
Comment=
Exec=xfce4-terminal --execute sudo /icpc/scripts/reset-team-account
Icon=edit-clear
Path=
Terminal=true
StartupNotify=false
GenericName=
