[Unit]
Description=Warm up file system cache

[Service]
Type=oneshot
ExecStart=/usr/bin/nice -n 19 /usr/bin/find / -path /proc -prune -o -path /sys -prune -o -print
ExecStart=/usr/bin/nice -n 19 /icpc/scripts/vmtouch.sh

[Install]
WantedBy=multi-user.target
