[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
Comment=Eclipse
Exec=/opt/eclipse/eclipse
Icon=/opt/eclipse/icon.xpm
Terminal=false
StartupNotify=false
Categories=Application;Development;X-Development;
