# 4MB is the default, so we could omit that...
# dynamic_cert_mem_cache_size=4MB
http_port 3128 ssl-bump generate-host-certificates=on tls-cert=/etc/squid/squidCA.crt tls-key=/etc/squid/squidCA.pem

# need to manually initialized the ssl_db
#sudo /usr/lib/squid/security_file_certgen -c -s /var/spool/squid/ssl_db -M 4MB

acl SSL_ports port 443
acl Safe_ports port 80          # http
acl Safe_ports port 21          # ftp
acl Safe_ports port 443         # https
acl Safe_ports port 70          # gopher
acl Safe_ports port 210         # wais
acl Safe_ports port 1025-65535  # unregistered ports
acl Safe_ports port 280         # http-mgmt
acl Safe_ports port 488         # gss-http
acl Safe_ports port 591         # filemaker
acl Safe_ports port 777         # multiling http
acl CONNECT method CONNECT

http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports

# Deny access to the cachemgr
http_access deny manager

# Block everything except our reverseproxy, which will filter the allowed network destinations
acl reverseproxy dst 127.0.0.1
http_access allow reverseproxy
http_access deny all
# show a block page
deny_info ICPC_ERR_ACCESS_DENIED all

coredump_dir /var/spool/squid

# To make it quick to restart squid, otherwise it takes ~30s to stop
shutdown_lifetime 1 second

# MITM everything!
ssl_bump bump all

# Ignore ssl errors, so we can still show our nice block page
# And also because our block page has no good ssl certificate
sslproxy_cert_error allow all

{% if squid_autologin_urls|length > 0 %}
{% for url in squid_autologin_urls %}
acl autologin url_regex {{url}}
{% endfor %}
include /etc/squid/autologin.conf
{% endif%}
