dbhome /var/lib/squidguard/db
logdir /var/log/squidguard

#
# TIME RULES:
# abbrev for weekdays:
# s = sun, m = mon, t =tue, w = wed, h = thu, f = fri, a = sat
time contest {
        date 2015.08.01-{{squid_unblock_date}}
}

dest icpcsites {
        domainlist icpcsites-domainlist
        urllist    icpcsites-urllist
}

src all {
        ip 0.0.0.0/0
}

acl {
        all within contest {
                pass     icpcsites none
                redirect http://localhost/block.html
        }
        else {
                pass all
        }
        default {
                pass     none
                redirect http://localhost/block.html
        }
}
